<div class="m-2">
    <div class="text-gray-600">
        <%= comment.user&.name %>:
    </div>

    <div class="border-solid border-2">
        <span class="m-2">
            <%= comment.body %>
        </span>
        
    </div>
</div>
