<%= render 'stories/navbar',organization: @organization, user: current_user %>



<h1>Stories</h1>

<div class="grid place-items-center mt-2">
  <ul>
    <% @stories.each do |story| %>
      <li>
        <%= link_to story.headline, edit_story_path(id: story.id) %>                                         
      </li>
    <% end %>
  </ul>
  <% unless !current_user.chief_editor?%>
    <%= link_to "New Story", new_story_path %>
  <% end %>
</div>



